<launch>

  <!-- All nodes within the launch file. -->
  <node pkg="ros-robot" type="rosTopicList.py" name="RosTopic" output="screen"/>
  
  <!-- Start GPS node to get GPS information for map on web client -->
  <node pkg="ros-robot" type="gps.py" name="GPS"/>

  <!-- Start Image node to get camera on web client -->
  <node pkg="ros-robot" type="img_res.py" name="img"/>

  <!-- *documentation* -->
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"> 
    <arg name="port" value="9090"/>
  </include>

</launch>