<launch>
    
    <!-- <node pkg="ros-robot" type="Robot.py" name="Robot" output="screen"/> no need for this node anymore potentially since we are publishing directly from web client-->
   
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" > 
      <arg name="port" value="9090"/>
    </include>

    <!-- Use "roslaunch prrexamples linemission.launch model:=waffle" to test since it has camera sensor running-->
    <node name="web_video_server" pkg="web_video_server" type="web_video_server" args="_port:=8090" />

</launch>